In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import sklearn as sk

In [2]:
X  = pd.read_csv("https://raw.githubusercontent.com/LavanyaPolamarasetty/Datasets/master/Data%20Analysis/Advertising.csv")

In [3]:
X.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
X.tail()

     Unnamed: 0     TV  radio  newspaper  sales
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

In [5]:
A = X[["radio"]]
B = X["sales"]

In [7]:
X.isnull().sum()

Unnamed: 0    0
TV            0
radio         0
newspaper     0
sales         0
dtype: int64

In [ ]:
lreg = LinearRegression()

In [ ]:
A.head()

In [ ]:
B.head()

In [ ]:
lreg.fit(A,B)

In [ ]:
lreg.predict([[38.2]])

In [ ]:
y = lreg.predict(A)

In [ ]:
plt.scatter(A,B, c = 'b', label = 'Scatter')
plt.plot(A,y, c = "r", label = "Regression Line")
plt.xlabel("TV")
plt.ylabel("Sales")
plt.title("Scatter plot")
plt.legend()
plt.show()

##Linear Regression
 - y = mx + c
 - y = slope(x) + intercept

In [ ]:
lreg.coef_  #slope(m)

In [ ]:
lreg.intercept_ #intercept(c)

In [ ]:
print("Salary is  slope {0} * yearsExperience {1} + Intercept {2} = {3} ".format(lreg.coef_,38,lreg.intercept_,lreg.coef_*38+lreg.intercept_ ))

In [ ]:
lreg.coef_*38 + lreg.intercept_

In [ ]:
for i in range(len(x)):
    print(lreg.coef_*B[i] + lreg.intercept_)

In [ ]:
x.shape

In [10]:
X_mean = np.mean(A)
Y_mean = np.mean(B)
print(X_mean)
print(Y_mean)
len(X)

radio    23.264
dtype: float64
14.022500000000003

200

In [12]:
Z = X["radio"]

In [13]:
n = 0
d = 0
for i in range(len(Z)):
    n += (A[i] - X_mean) * (B[i]-Y_mean)
    d += (A[i] - X_mean)**2
    
# print(n,d)
m = n/d

KeyError: 0

In [14]:
c = Y_mean - (m*X_mean)
c

NameError: name 'm' is not defined

In [15]:
print("Linear regression Model is  Y = {0} X + {1}".format(m,c))

NameError: name 'm' is not defined

In [16]:
0.001528*38 +13.797757

13.855821

In [17]:
A.loc[5]

radio    48.9
Name: 5, dtype: float64